<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

<form action="url_de_l'action" method="POST">
  <input type="text" name="nom_du_champ">
  <input type="submit" value="Envoyer le formulaire">
</form>